.field-container{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    
}

.field{
    width: 60vw;
    height: 30vw;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(15,1fr);
    gap: .5px;
    border: 1px solid red;
   
}

.cell {

    background-color: gray; 
}

.color-cell{
    width: 10%;
    height: 10%;
    

}


.red{


    background-color: red;


}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.yellow{

    background-color: yellow;
}

.skyblue{

    background-color: skyblue;
}

.lime{

    background-color: lime;
}

.save-tool{


    display: block;
    margin: 20px auto;
    padding: 12px 24px;
    background: linear-gradient(90deg, red);
    border-radius: 50px;
    border: none
}

.save-tool:hover{
    background: rgb(222, 0, 56);
    transform: scale(30px);
    transition-duration: 1s; 
}